li {
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    color: #6c757d;
}

ul {
    list-style-type: none;
}

.ms-selection {
    background: #fff;
    color: #555555;
}

.ms-selectable {
    background: #fff;
    color: #555555;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.about_me {
    min-height: 124px !important;
}

.btn-purple {
    background-color: #5850eb !important;
    color: #fff;
}

.submit-button {
    text-align: right;
}

.btn-more-padding {
    padding: 0.5rem 1.5rem;
}

.arrow-container {
    background: transparent url(../images/multiple-arrow.png) no-repeat 50% 50%;
    width: 100%;
}


.form-control-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

input.form-control[type="color"],
input.form-control[type="range"] {
    min-height: 39px;
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.custom-select:invalid:focus,
.form-control:invalid:focus,
.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.custom-select:valid:focus,
.form-control:valid:focus {
    box-shadow: none !important;
}

.comment-area-box .form-control {
    border-color: #e2e7f1;
    border-radius: 0.3rem 0.3rem 0 0;
}

.comment-area-box .comment-area-btn {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #e2e7f1;
    border-top: none;
    border-radius: 0 0 0.3rem 0.3rem;
}

input:focus {
    outline: none;
}



.mybox {
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    border-bottom: 3px solid #5cceee;
    background-color: #232323;
    -webkit-box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.6);
    -moz-box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.6);
    box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.6);
}
.yellow {
    color: #FABE28; }


.btnnn-1 {
    background: #FFBA06;
    color: #000;
    box-shadow: 0 6px #B28F33;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 0 0 5px 5px;
}

.btnnn
{
border: none;
font-family: 'Oswald', sans-serif;
font-size: 16px;
color: inherit;
background: none;
cursor: pointer;
padding: 5px;
display: inline-block;
margin-bottom: 9px;
 text-transform: uppercase;
 letter-spacing: 1px;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;}

